/Percolates/nbproject/private/
/QueueDequeue/nbproject/private/
/Colinear/nbproject/private/
/Colinear/dist/
/Colinear/build/
/Percolates/dist/
/Percolates/build/
/QueueDequeue/build/
/QueueDequeue/dist/
/8puzzle/nbproject/private/